.authenticationLayout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    height: 100vh;

    &_bg {
        background: url(../asset/image/auth_Logo.png) center 25% no-repeat, url(../asset/image/authentication_bg.png) center no-repeat;
    }

    &_input {
        height: 100vh;
        background: linear-gradient(113.86deg, #1B3558 0.89%, #0F192C 100%);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 100%;
            background: linear-gradient(90deg, #000000, transparent);
            opacity: 0.3;
        }

        &_innerSection {
            max-width: 440px;
            width: 90%;
            max-height: 90vh;
            overflow: auto;

            h1 {
                font-weight: 700;
                font-size: clamp(22px, 3vw, 32px);
                line-height: 128%;
                text-align: center;
                letter-spacing: 0.03em;
                margin-top: 10px;

            }

            p {
                font-weight: 500;
                font-size: clamp( 16px , 3vw, 20px);
                line-height: 130%;
                text-align: center;
            }
            .forgotSection{
//                 font-weight: 600;
// font-size: 16px;
// line-height: 20px;
text-align: right;
margin-top: 20px;
            }
            .authentication_button{
                background: #C2285C;
border-radius: 50px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
height: 40px;
margin-top: 40px;
width: 100%;
border-color: #C2285C;     
margin-bottom: 20px;       }
.opction_or
{
    margin: 20px 0 40px 0;
    border: 2px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 20px auto;
}

        }
    }
}