.form_section_input {
  padding-top: 40px;
  position: relative;
  label {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #a6c2e9;
  }
  input {
    margin-top: 10px;
    background: #081a34;
    border: 1px solid #a6c2e9;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    width: 100%;
    display: block;
    padding: 10px 20px 10px 50px;
    box-sizing: border-box;
  }
  span {
    position: absolute;
    bottom: 8px;
    left: 15px;
    &.eyeIcon {
      right: 10px;
      left: unset;
      display: block;
      width: 25px;
      bottom: 6px;
    }
  }
}

// footer section style
.footer {
  background: #001c44;
  &_newsletter {
    background: #a6c2e9;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding: clamp(10px, 2vw, 30px);
    gap: 20px;
    max-width: 1350px;
    width: 80%;
    margin: auto;
    // transform: translateY(-50%);
    @media screen  and (max-width:1025px) {
      flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    &_right {
      display: flex;
      align-items: center;
      gap: 30px;
      gap: clamp(10px, 2vw, 30px);
     
      &_icon {
        img {
        }
      }
      &_text {
        h1 {
          font-weight: 700;
          font-size: 28px;
          font-size: clamp(18px, 2vw, 28px);
          line-height: 128%;
          color: #081a34;
          margin-bottom: 7px;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          font-size: clamp(14px, 2vw, 18px);
          line-height: 127%;
          background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          opacity: 0.9;
        }
      }
    }
    &_form {
      display: flex;
      align-items: center;
      gap: 10px;
      @media screen and (max-width:480px) {
        flex-direction: column;
      }
      &_input {
        position: relative;
       
        span {
            position: absolute;
            left: 13px;
            top: calc( 50% - 9px );
          img {
          }
        }
        input {
          background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
          border: 1px solid #5595ed;
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
          border-radius: 50px;
          height: 40px;
          width: 350px;
          padding-left: 40px;
          width: clamp( 200px , 24vw , 350px);
        }
      }
      button {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        background: #c2285c;
        border-radius: 50px;
        color: #ffffff;
        border-color: #c2285c;
        border: unset;
        height: 40px;
        padding: 5px 48px;
        padding: 5px clamp(20px , 2vw , 48px);
      }
    }
  }
  &_logo {
    text-align: center;
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.25));
    margin: 40px 0 ;
    img {
    }
  }
  &_manu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    gap: clamp( 20px , 2vw, 30px);
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    @media screen and (max-width:480px) {
      flex-direction: column;
    }
    li {
      a {
        text-decoration: unset;
      }
    }
  }
  &_social_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    gap: clamp( 20px , 3vw, 30px);
    margin: 30px 0;
    margin: clamp( 20px , 3vw, 30px) 0;
    span {
      width: 41px;
      height: 40px;
      display: block;
      background: url(../asset/image/socialIcons.svg) no-repeat;
      background-size: 217px 43px;
    @for $i from 1 through 4{
      &:nth-child(#{$i}){
        background-position: calc( -59px * (#{$i} - 1) ) 0px;
      }
    }
    }
  }
  &_policy {
    p {
      font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    border-top: 2px solid #16345e;
    padding: 24px 10px;
    margin-top: 10px;
    }
  }
}
